.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12rem 8rem 0;
}

.servicesInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h2 {
        color: var(--primary-black);
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 3.5rem;
    }

    & > .delimiter {
        margin: 1.625rem 0 2.0625rem;
    }

    & > p {
        margin: 0 calc(325 / 1600 * 100%);

        color: var(--primary-gray);
        text-align: center;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.875rem;
    }
}

.serviceCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.3125rem;
}

.button {
    margin: 4.5rem 0 0;
}
